.container{
    padding: 20px;  
    background-color: #cecbd4;
    border-radius: 4px;
    max-width: 700px;
    min-height: 640px;
    position: relative;
}

.score{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
}

.gameboard {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 700px;
    background-color: #fff;
    border: solid;
    border-radius: 4px;
}

.gameboard .box {
    
}

.snake_head{
    background-color: blue;
    border-radius: 100%;
}

.snake_body{
    background-color:  green;
    border-radius: 5px;
}

.apple{
    background: url("../icons/apple.png") center center/cover no-repeat;
}

.fail{
    transition: all 2s;
    background-color: red;
}

.buttons{
    margin: 0 auto;
    margin-top: 10px;
}

.buttonupp{
    margin: 0 auto;
}

.buttons .button_item {
    width: 100px;
    height: 100px;
    background-color: #703fd9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.buttons .buttonmidle {
    display: flex;
    justify-content: center;
}

.buttons .buttonnone{
    border: none;
    box-shadow: none;
    background-color: #cecbd4;
}

.buttonbottom{
    margin: 0 auto;
}

.newgamebutton{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 100px;
    z-index: 5;
    cursor: pointer;
    background-color: #fff;
    border-radius: 6px;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.obstacle {
    background: url(../icons/obstacle.png) center center/cover no-repeat;
}

@media (max-width: 768px) {
    .container{
        padding: 10px;  
        max-width: 758px;
    }
    .gameboard {
        margin-top: 10px;
        height: 740px ;
    }
    .score{
        margin-top: 15px;
        font-size: 25px;
        font-weight: 800;
    }
}

@media (max-width: 700px) {
    .container{
        padding: 10px;  
        max-width: 600px;
    }
    .gameboard {
        margin-top: 10px;
        height: 600px ;
    }
    .score{
        margin-top: 10px;
        font-size: 25px;
        font-weight: 800;
    }
}

@media (max-width: 576px) {
    .container{
        padding: 10px;  
        max-width: 550px;
    }
    .gameboard {
        margin-top: 10px;
        height: 530px ;
    }
    .score{
        margin-top: 5px;
        font-size: 25px;
        font-weight: 800;
    }
}

@media (max-width: 542px) {
    .container{
        padding: 10px;  
        max-width: 500px;
    }
    .gameboard {
        margin-top: 10px;
        height: 480px ;
    }
    .score{
        margin-top: 5px;
        font-size: 20px;
        font-weight: 700;
    }
}

@media (max-width: 500px) {
    .container{
        padding: 10px;  
        max-width: 450px;
    }
    .gameboard {
        margin-top: 10px;
        height: 430px ;
    }
    .buttons .button_item {
        width: 90px;
        height: 90px;
    }
    .score{
        margin-top: 5px;
        font-size: 15px;
        font-weight: 700;
    }
}

@media (max-width: 450px) {
    .container{
        padding: 10px;  
        max-width: 400px;
    }
    .gameboard {
        margin-top: 10px;
        height: 380px ;
    }
    .buttons .button_item {
        width: 70px;
        height: 70px;
    }
}

@media (max-width: 400px) {
    .container{
        padding: 10px;  
        max-width: 350px;
    }
    .gameboard {
        margin-top: 10px;
        height: 330px ;
    }
    .buttons .button_item {
        width: 55px;
        height: 55px;
    }
    .newgamebutton{  
        width: 250px;
        height: 80px;        
    }
}

@media (max-width: 370px) {
    .container{
        padding: 5px;  
        max-width: 350px;
    }
    .gameboard {
        margin-top: 10px;
        height: 330px ;
    }
    .buttons .button_item {
        width: 45px;
        height: 45px;
    }
    .newgamebutton{  
        width: 250px;
        height: 80px;        
    }
}
