.container{
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    background-color: #cecbd4;
    border-radius: 4px;
}

.score{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
}

.gameboard {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 700px;
    background-color: #fff;
    border: solid;
    border-radius: 4px;
}

.gameboard .box {
    
}

.snake_head{
    background-color: blue;
    border-radius: 100%;
}

.snake_body{
    background-color:  green;
    border-radius: 5px;
}

.apple{
    background: url("../icons/apple.png") center center/cover no-repeat;
}

.fail{
    transition: all 2s;
    background-color: red;
}

.buttons{
    margin: 0 auto;
    margin-top: 10px;
}

.buttonupp{
    margin: 0 auto;
}

.buttons .button_item {
    width: 150px;
    height: 150px;
    background-color: #703fd9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.buttons .buttonmidle {
    display: flex;
    justify-content: center;
}

.buttons .buttonnone{
    border: none;
    box-shadow: none;
    background-color: #cecbd4;
}

.buttonbottom{
    margin: 0 auto;
}

.newgamebutton{
    width: 300px;
    height: 100px;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    background-color: #fff;
    border-radius: 6px;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.obstacle {
    background: url(../icons/obstacle.png) center center/cover no-repeat;
}

@media(max-width: 576px){
    .container{
        width: 500px;
    }
}
@media(max-width: 1140px){
    .container{
        width: 800px;
    }
}
